# ====== APPLICATION SETTINGS ======
SECRET_KEY=<?secret?>

# ====== SOCIAL MEDIA SETTINGS ======
GOOGLE_CLIENT_ID=<?var?>  
GOOGLE_CLIENT_SECRET=<?secret?>  
FACEBOOK_CLIENT_ID=<?var?>  
FACEBOOK_CLIENT_SECRET=<?secret?>  
TWITTER_CLIENT_ID=<?var?>  
TWITTER_CLIENT_SECRET=<?secret?> 

# ====== GITHUB REPOSITORY SETTINGS ======
GITHUB_TOKEN=<?secret?>
GIT_REPO_PROTOCOL=<?var?>
GIT_REPO_DOMAIN=<?var?>
GIT_REPO_USERNAME=<?var?>
GIT_REPO_REPONAME=<?var?>
GOCD_API_TOKEN=<?secret?>

#GCP VM for staging deployment
GCP_PROJECT_ID=<?var?>
GCP_ZONE=<?var?>
GCP_VM_NAME=<?var?>
GCP_VM_IP=<?var?>
GCP_MACHINE_TYPE=<?var?>
VM_SSH_USER=<?var?>
STAGING_APP_URL=<?var?>
PRODUCTION_APP_URL=<?var?>
GCP_SA_KEY_PATH=<?var?>
ENC_PASSPHRASE=<?secret?>

# ====== ADMIN USER SETTINGS ======
ADMIN_EMAIL=<?var?>
ADMIN_FIRST_NAME=<?var?>
ADMIN_LAST_NAME=<?var?>
ADMIN_PASSWORD=<?secret?>

# ====== SUPPORT SETTINGS ======
SUPPORT_EMAIL=<?var?>

# ====== REGULAR USER SETTINGS ======
REGULARUSER_EMAIL=<?var?>
REGULARUSER_FIRST_NAME=<?var?>
REGULARUSER_LAST_NAME=<?var?>
REGULARUSER_PASSWORD=<?secret?>

# ====== TEST USER SETTINGS ======
SUPERADMIN_EMAIL=<?var?>
SUPERADMIN_PASSWORD=<?secret?>
STAFF_ADMIN_EMAIL=<?var?>
STAFF_ADMIN_PASSWORD=<?secret?>
INACTIVE_ADMIN_EMAIL=<?var?>
INACTIVE_ADMIN_PASSWORD=<?secret?>

# ====== NGROK SETTINGS ======
NGR_AUTHTOKEN=<?secret?>
# You can also do this:
# ngrok config add-authtoken $YOUR_AUTHTOKEN
# It will save this to the ngrok config file at C:\Users\Work\AppData\Local/ngrok/ngrok.yml
# Sample content of ngrok.yml:
# region: us
# version: '2'
# authtoken: <?secret?>

# To edit your configuration file:
# ngrok config edit

INVOLVE_API_KEY=<?secret?>