# .env.staging

# ====== APPLICATION SETTINGS ======
DEBUG=<?var?>
ENVIRONMENT=<?var?>

# ====== SITE SETTINGS ======
SITE_HEADER=<?var?>
SITE_TITLE="<?var?>
SITE_INDEX_TITLE=<?var?>

# ====== DJANGO SETTINGS ======
DJANGO_LOG_LEVEL=<?var?>
PYTHONDONTWRITEBYTECODE=<?var?>
PYTHONUNBUFFERED=<?var?>

# ====== APPLICATION URL SETTINGS ======
APP_PROTOCOL=<?var?>
APP_DOMAIN=<?var?>
APP_PORT=<?var?>

# ====== WEB-TEST URL SETTINGS ======
WEB_TEST_PROTOCOL=<?var?>
WEB_TEST_HOST=<?var?>
WEB_TEST_PORT=<?var?>

# ====== SECURITY SETTINGS ======
# For CSRF protection and allowed hosts
ALLOWED_HOSTS=<?var?>
CSRF_TRUSTED_ORIGINS=<?var?>

# ====== DATABASE SETTINGS (PostgreSQL) ======
POSTGRES_USER=<?var?>
POSTGRES_HOST=<?var?>
POSTGRES_PASSWORD=<?secret?>
POSTGRES_DB=<?var?>
POSTGRES_PORT=<?var?>
POSTGRES_PORT_TEST=<?var?>

# ====== REDIS SETTINGS ======
REDIS_URL=<?var?>

# ====== TUNNEL SETTINGS ======
TUNNEL_ENABLED=<?var?>
TUNNEL_SUBDOMAIN=<?var?>
TUNNEL_URL=<?var?>

# ====== CYPRESS SETTINGS ======
CYPRESS_BASEURL=<?var?>
CYPRESS_HEADED=<?var?>

# ====== EMAIL SETTINGS ======
EMAIL_HOST=<?var?>
EMAIL_PORT=<?var?>
EMAIL_HOST_USER=<?var?>
EMAIL_HOST_PASSWORD=<?secret?>
EMAIL_USE_SSL=<?var?>
EMAIL_USE_TLS=<?var?>
DEFAULT_FROM_EMAIL=<?var?>

# ====== SSL CERTIFICATE SETTINGS ======
# Point to the system CA bundle which includes your custom cert
SSL_CERT_FILE=<?var?>
REQUESTS_CA_BUNDLE=<?var?>
NODE_EXTRA_CA_CERTS=<?var?>

# --- START: POSTE.IO API SETTINGS ---
POSTE_PROTOCOL=<?var?>
POSTE_HOSTNAME=<?var?>
POSTE_PORT=<?var?>

POSTE_API_USER=<?var?>
POSTE_ADMIN_PASSWORD=<?secret?>
POSTE_DOMAIN=<?var?>
# --- END: POSTE.IO API SETTINGS ---

# ====== POSTE.IO DATABASE SETTINGS (for staging) ======
POSTEIO_DB_HOST=<?var?>
POSTEIO_DB_PORT=<?var?>
POSTEIO_DB_NAME=<?var?>
POSTEIO_DB_USER=<?var?>
POSTEIO_DB_PASSWORD=<?secret?>

# ====== PROFILE SETTINGS ======
PROFILE_EDIT_URL=<?var?>
WEB_HOST_PORT=<?var?>
WEB_HTTPS_PORT=<?var?>
NGINX_STAGING_HOST_PORT=<?var?>
NGINX_PRODUCTION_HOST_PORT=<?var?>
POSTGRES_HOST_PORT=<?var?>
REDIS_HOST_PORT="<?var?>
MAIL_SMTP_HOST_PORT=<?var?>
MAIL_SUBMISSION_HOST_PORT=<?var?>
MAIL_SMTPS_HOST_PORT=<?var?>
MAIL_HTTPS_HOST_PORT=<?var?>
