events {}
http {
    server {
        listen __WEB_HOST_PORT__;
        listen [::]:__WEB_HOST_PORT__;  
        server_name _;

        location / {
            proxy_pass http://__BACKEND_SERVICE__:8000;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
        }
    }
}